@import "./global/reset.scss";
@import "./global/fonts.scss";
@import "./global/variables.scss";

@import "./blocks/header.scss";
@import "./blocks/main-banner.scss";
@import "./blocks/my-skills.scss";
@import "./blocks/contacts.scss";
@import "./blocks/projects.scss";

#root {
  width: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Sf-Pro-UI-Medium';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

