@font-face {
  font-family: "SF-Pro-UI-Regular";
  src: url("../fonts/SF-Pro-Text-Regular.woff2") format("woff2"),
         url("../fonts/SF-Pro-Text-Regular.woff") format("woff");
 }

 @font-face {
  font-family: "SF-Pro-UI-Medium";
  src: url("../fonts/SF-Pro-Text-Medium.woff2") format("woff2"),
         url("../fonts/SF-Pro-Text-Medium.woff") format("woff");
 }

 @font-face {
  font-family: "SF-Pro-UI-Semibold";
  src: url("../fonts/SF-Pro-Text-Semibold.woff2") format("woff2"),
         url("../fonts/SF-Pro-Text-Semibold.woff") format("woff");
 }

 @font-face {
  font-family: "SF-Pro-UI-Thin";
  src: url("../fonts/SF-Pro-Text-Thin.woff2") format("woff2"),
         url("../fonts/SF-Pro-Text-Thin.woff") format("woff");
 }